<table style="width:100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Kilaza</th>
    </tr>
  </thead>
      <tr *ngFor='let panda of model.pande'>
        <td>{{panda.id}}</td>
        <td>{{panda.ime}}</td>
        <td>{{panda.kilaza}}</td>
      </tr>
  <tbody>

  </tbody>
</table>