<div class="menu">
  <span class="search">
    <input type="text"  name="search" /> 
    <input type="submit" class="button" value="Trazi" />
  </span>
 <menu-link *ngFor='let link of model.linkovi' 
            [vrednost]='link' 
            (onLinkClicked)='model.goToPath(link.putanja)'>
</menu-link>
      
 
 
 
 <!-- <span class="alt" *ngFor='let link of model.linkovi' (click)='model.goToPath(link.putanja)'>
        <a >{{link.naziv}}</a>
      </span>  -->
								

  </div>

